In [1]:
import numpy as np
import pandas as pd
import math
import requests 
import matplotlib as plt
import seaborn as sns
import yfinance as yf
import pandas_datareader as web
from pandas_datareader import data
from bs4 import BeautifulSoup as bs
from scipy import stats
import sqlite3
import time

#Create db
conn = sqlite3.connect('financial_data.db')

# Create a cursor
cursor = conn.cursor()
# Create the first table
all_time_prices_query = '''
CREATE TABLE all_time_prices (
    Date DATETIME PRIMARY KEY,
    Open FLOAT,
    High FLOAT, 
    Low FLOAT, 
    Close FLOAT, 
    Volume FLOAT,
    Dividends FLOAT, 
    Stock_Splits FLOAT, 
    Ticker TEXT NOT NULL    
);
'''

cursor.execute(all_time_prices_query)

conn.commit()

In [2]:
#Create first table with all stock info from yfinance
tick = pd.read_csv("all_stocks")
all_time_cols = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock_Splits', 'Ticker']
all_time = pd.DataFrame(columns = all_time_cols)
count = 0 
for i in range(len(tick)): 
    start = time.time()    
    try:
        #Creating the df to be added to all_time_prices
        ticker = tick["0"][i]
        info = yf.Ticker(ticker).history(period='max')
        info.reset_index(inplace = True)
        info['Ticker'] = ticker
        info.rename({'Stock Splits':'Stock_Splits'},axis = 1,inplace = True)
        info['Volume'] = info['Volume'].astype(float)
        print(info) 
        
        # Append the first dataframe to the table
        all_time = pd.concat([all_time, info])

        #print(momentum_append)
    except TypeError: 
        print("Nonetype found for: " + tick["0"][i])
        continue
    except IndexError: 
        print("Couldn't find: ",tick["0"][i])
        continue
    except KeyError:
        print("Couldnt find key for: " + tick['0'][i])
        continue
    except AttributeError: 
        print("Attribute error found")
        continue
    stop = time.time()
    duration = stop-start
    print(duration)

#PUSH TO DATABASE
all_time.to_sql('all_time_prices', conn, if_exists='append', index=False)
# Close the connection
conn.close()

                          Date       Open       High        Low      Close  \
0    1983-09-30 00:00:00-04:00   0.000000   0.467834   0.450507   0.450507
1    1983-10-03 00:00:00-04:00   0.000000   0.453395   0.447619   0.450507
2    1983-10-04 00:00:00-04:00   0.000000   0.447619   0.444731   0.444731
3    1983-10-05 00:00:00-04:00   0.000000   0.441843   0.392749   0.392749
4    1983-10-06 00:00:00-04:00   0.000000   0.401413   0.389862   0.401413
...                        ...        ...        ...        ...        ...
9927 2023-02-17 00:00:00-05:00  67.480003  67.480003  65.470001  67.239998
9928 2023-02-21 00:00:00-05:00  66.589996  67.160004  65.290001  65.669998
9929 2023-02-22 00:00:00-05:00  65.919998  66.290001  65.150002  65.470001
9930 2023-02-23 00:00:00-05:00  65.930000  66.150002  64.930000  65.809998
9931 2023-02-24 00:00:00-05:00  65.110001  65.400002  64.389999  65.089996

         Volume  Dividends  Stock_Splits Ticker
0       18000.0        0.0           0.0    AOS
1       18000.0        0.0           0.0    AOS
2       21600.0        0.0           0.0    AOS
3      127800.0        0.0           0.0    AOS
4      118800.0        0.0           0.0    AOS
...         ...        ...           ...    ...
9927  1178700.0        0.0           0.0    AOS
9928  1433400.0        0.0           0.0    AOS
9929   626300.0        0.0           0.0    AOS
9930   809900.0        0.0           0.0    AOS
9931   281655.0        0.0           0.0    AOS

[9932 rows x 9 columns]
1.2166688442230225

In [3]:
all_time.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9932 entries, 0 to 9931
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          9932 non-null   datetime64[ns, America/New_York]
 1   Open          9932 non-null   float64
 2   High          9932 non-null   float64
 3   Low           9932 non-null   float64
 4   Close         9932 non-null   float64
 5   Volume        9932 non-null   float64
 6   Dividends     9932 non-null   float64
 7   Stock_Splits  9932 non-null   float64
 8   Ticker        9932 non-null   object
dtypes: datetime64[ns, America/New_York](1), float64(7), object(1)
memory usage: 775.9+ KB