In [1]:
import numpy as np
import pandas as pd
import math
import requests 
import matplotlib as plt
import seaborn as sns
import yfinance as yf
import pandas_datareader as web
from pandas_datareader import data
from bs4 import BeautifulSoup as bs
from scipy import stats
import sqlite3
import time

#Create db
conn = sqlite3.connect('financial_data.db')

# Create a cursor
cursor = conn.cursor()
# Create the first table
all_time_prices_query = '''
CREATE TABLE all_time_prices (
    Date DATETIME,
    Open FLOAT,
    High FLOAT, 
    Low FLOAT, 
    Close FLOAT, 
    Volume FLOAT,
    Dividends FLOAT, 
    Stock_Splits FLOAT, 
    Ticker TEXT NOT NULL    
);
'''

cursor.execute(all_time_prices_query)

conn.commit()

C:\Users\Kamen\AppData\Local\Programs\Python\Python38\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
#Create first table with all stock info from yfinance
c = 0
tick = pd.read_csv("all_stocks")
all_time_cols = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock_Splits', 'Ticker']
all_time = pd.DataFrame(columns = all_time_cols)
count = 0 
for i in range(len(tick)): 
    start = time.time()    
    try:
        #Creating the df to be added to all_time_prices
        ticker = tick["0"][i]
        info = yf.Ticker(ticker).history(period='max')
        info.reset_index(inplace = True)
        info['Ticker'] = ticker
        info.rename({'Stock Splits':'Stock_Splits'},axis = 1,inplace = True)
        info['Volume'] = info['Volume'].astype(float)
        print(info) 
        
        # Append the first dataframe to the table
        all_time = pd.concat([all_time, info])

        #print(momentum_append)
    except TypeError: 
        print("Nonetype found for: " + tick["0"][i])
        continue
    except IndexError: 
        print("Couldn't find: ",tick["0"][i])
        continue
    except KeyError:
        print("Couldnt find key for: " + tick['0'][i])
        continue
    except AttributeError: 
        print("Attribute error found")
        continue
    stop = time.time()
    duration = stop-start
    print(duration)
    c += 1
    if c == 5: 
        break

#PUSH TO DATABASE
all_time.to_sql('all_time_prices', conn, if_exists='append', index=False)
# Close the connection
conn.close()

                          Date       Open       High        Low      Close  \
0    1983-09-30 00:00:00-04:00   0.000000   0.467834   0.450507   0.450507
1    1983-10-03 00:00:00-04:00   0.000000   0.453395   0.447619   0.450507
2    1983-10-04 00:00:00-04:00   0.000000   0.447619   0.444731   0.444731
3    1983-10-05 00:00:00-04:00   0.000000   0.441843   0.392749   0.392749
4    1983-10-06 00:00:00-04:00   0.000000   0.401413   0.389862   0.401413
...                        ...        ...        ...        ...        ...
9927 2023-02-17 00:00:00-05:00  67.480003  67.480003  65.470001  67.239998
9928 2023-02-21 00:00:00-05:00  66.589996  67.160004  65.290001  65.669998
9929 2023-02-22 00:00:00-05:00  65.919998  66.290001  65.150002  65.470001
9930 2023-02-23 00:00:00-05:00  65.930000  66.150002  64.930000  65.809998
9931 2023-02-24 00:00:00-05:00  65.110001  65.400002  64.389999  64.830002

         Volume  Dividends  Stock_Splits Ticker
0       18000.0        0.0           0.0    AOS
1       18000.0        0.0           0.0    AOS
2       21600.0        0.0           0.0    AOS
3      127800.0        0.0           0.0    AOS
4      118800.0        0.0           0.0    AOS
...         ...        ...           ...    ...
9927  1178700.0        0.0           0.0    AOS
9928  1433400.0        0.0           0.0    AOS
9929   626300.0        0.0           0.0    AOS
9930   809900.0        0.0           0.0    AOS
9931   327125.0        0.0           0.0    AOS

[9932 rows x 9 columns]
0.9265718460083008
                          Date       Open       High        Low      Close  \
0    2014-03-21 00:00:00-04:00  13.466210  16.159452  13.299719  15.875437
1    2014-03-24 00:00:00-04:00  15.924406  15.963579  14.758966  14.935251
2    2014-03-25 00:00:00-04:00  15.131124  15.131124  14.690412  14.886284
3    2014-03-26 00:00:00-04:00  14.798141  14.935251  13.348687  13.720844
4    2014-03-27 00:00:00-04:00  13.691463  13.965684  13.368274  13.955891
...                        ...        ...        ...        ...        ...
2244 2023-02-17 00:00:00-05:00  15.010000  15.240000  14.900000  15.190000
2245 2023-02-21 00:00:00-05:00  14.970000  15.130000  14.660000  14.720000
2246 2023-02-22 00:00:00-05:00  14.780000  14.890000  14.520000  14.710000
2247 2023-02-23 00:00:00-05:00  14.910000  15.050000  14.650000  14.820000
2248 2023-02-24 00:00:00-05:00  14.650000  14.820000  14.635000  14.765000

          Volume  Dividends  Stock_Splits Ticker
0     12702100.0        0.0           0.0   ATEN
1       686800.0        0.0           0.0   ATEN
2       685600.0        0.0           0.0   ATEN
3      1171300.0        0.0           0.0   ATEN
4       432800.0        0.0           0.0   ATEN
...          ...        ...           ...    ...
2244    453400.0        0.0           0.0   ATEN
2245    458800.0        0.0           0.0   ATEN
2246    612400.0        0.0           0.0   ATEN
2247    347400.0        0.0           0.0   ATEN
2248    100997.0        0.0           0.0   ATEN

[2249 rows x 9 columns]
0.2510507106781006
                         Date   Open    High     Low   Close    Volume  \
0   2021-03-25 00:00:00-04:00   9.95   9.950   9.520   9.870  117100.0
1   2021-03-26 00:00:00-04:00   9.85   9.960   9.750   9.960  158300.0
2   2021-03-29 00:00:00-04:00   9.70   9.902   9.500   9.780   53600.0
3   2021-03-30 00:00:00-04:00   9.80   9.850   9.800   9.830   52300.0
4   2021-03-31 00:00:00-04:00   9.75   9.900   9.750   9.900   78600.0
..                        ...    ...     ...     ...     ...       ...
479 2023-02-17 00:00:00-05:00  10.21  10.220  10.210  10.210  533500.0
480 2023-02-21 00:00:00-05:00  10.21  10.230  10.210  10.230   44500.0
481 2023-02-22 00:00:00-05:00  10.23  10.230  10.220  10.220   41300.0
482 2023-02-23 00:00:00-05:00  10.23  10.230  10.210  10.230  250900.0
483 2023-02-24 00:00:00-05:00  10.23  10.230  10.225  10.225   17799.0

     Dividends  Stock_Splits Ticker
0          0.0           0.0    AAC
1          0.0           0.0    AAC
2          0.0           0.0    AAC
3          0.0           0.0    AAC
4          0.0           0.0    AAC
..         ...           ...    ...
479        0.0           0.0    AAC
480        0.0           0.0    AAC
481        0.0           0.0    AAC
482        0.0           0.0    AAC
483        0.0           0.0    AAC

[484 rows x 9 columns]
0.2235260009765625
                           Date       Open       High        Low      Close  \
0     1980-03-17 00:00:00-05:00   0.000000   2.297774   2.232743   2.276097
1     1980-03-18 00:00:00-05:00   0.000000   2.211067   2.102682   2.167713
2     1980-03-19 00:00:00-05:00   0.000000   2.146035   2.124358   2.124358
3     1980-03-20 00:00:00-05:00   0.000000   2.124357   2.037648   2.037648
4     1980-03-21 00:00:00-05:00   0.000000   2.081004   2.037649   2.059327
...                         ...        ...        ...        ...        ...
10823 2023-02-17 00:00:00-05:00  54.540001  54.970001  53.810001  54.419998
10824 2023-02-21 00:00:00-05:00  54.250000  54.330002  53.000000  53.439999
10825 2023-02-22 00:00:00-05:00  53.320000  54.830002  53.230000  53.939999
10826 2023-02-23 00:00:00-05:00  54.080002  55.040001  53.930000  55.000000
10827 2023-02-24 00:00:00-05:00  54.340000  54.695000  53.950001  54.302700

         Volume  Dividends  Stock_Splits Ticker
0        6413.0        0.0           0.0    AIR
1       12150.0        0.0           0.0    AIR
2        6075.0        0.0           0.0    AIR
3        8775.0        0.0           0.0    AIR
4       12488.0        0.0           0.0    AIR
...         ...        ...           ...    ...
10823  263900.0        0.0           0.0    AIR
10824  171800.0        0.0           0.0    AIR
10825  213300.0        0.0           0.0    AIR
10826  199400.0        0.0           0.0    AIR
10827   37816.0        0.0           0.0    AIR

[10828 rows x 9 columns]
0.47234082221984863
                         Date       Open       High        Low      Close  \
0   2020-11-25 00:00:00-05:00  28.678488  29.634438  25.332664  25.332664
1   2020-11-27 00:00:00-05:00  25.189269  25.189269  21.317673  21.317673
2   2020-11-30 00:00:00-05:00  22.262154  22.464815  18.344673  18.344673
3   2020-12-01 00:00:00-05:00  20.744102  21.136041  16.002592  17.599028
4   2020-12-02 00:00:00-05:00  17.331365  17.780662  16.499689  17.446079
..                        ...        ...        ...        ...        ...
560 2023-02-17 00:00:00-05:00  14.900000  15.060000  14.560000  14.750000
561 2023-02-21 00:00:00-05:00  14.550000  14.660000  13.840000  13.850000
562 2023-02-22 00:00:00-05:00  13.810000  14.460000  13.730000  14.140000
563 2023-02-23 00:00:00-05:00  13.970000  14.340000  13.960000  14.150000
564 2023-02-24 00:00:00-05:00  13.800000  14.180000  13.660000  14.025000

        Volume  Dividends  Stock_Splits Ticker
0       1200.0        0.0           0.0    AAN
1       5200.0        0.0           0.0    AAN
2      65100.0        0.0           0.0    AAN
3    8782600.0        0.0           0.0    AAN
4    2105400.0        0.0           0.0    AAN
..         ...        ...           ...    ...
560   215500.0        0.0           0.0    AAN
561   245700.0        0.0           0.0    AAN
562   237500.0        0.0           0.0    AAN
563   186800.0        0.0           0.0    AAN
564   112639.0        0.0           0.0    AAN

[565 rows x 9 columns]
0.1903390884399414

IntegrityError: UNIQUE constraint failed: all_time_prices.Date

In [3]:
all_time.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9932 entries, 0 to 9931
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          9932 non-null   datetime64[ns, America/New_York]
 1   Open          9932 non-null   float64
 2   High          9932 non-null   float64
 3   Low           9932 non-null   float64
 4   Close         9932 non-null   float64
 5   Volume        9932 non-null   float64
 6   Dividends     9932 non-null   float64
 7   Stock_Splits  9932 non-null   float64
 8   Ticker        9932 non-null   object
dtypes: datetime64[ns, America/New_York](1), float64(7), object(1)
memory usage: 775.9+ KB