In [1]:
import numpy as np
import pandas as pd
import math
import requests 
import matplotlib as plt
import seaborn as sns
import yfinance as yf
import pandas_datareader as web
from pandas_datareader import data
from bs4 import BeautifulSoup as bs
from scipy import stats

In [8]:
df = pd.read_csv("momentum_advanced_sheet")

In [22]:
#Get percentiles for each stock
cols = ['1y', '6m', '3m', '1m']
top90 = []
for c in cols: 
    for index, row in df.iterrows(): 
        #print(row['Ticker'])
        percentile_change = stats.percentileofscore(df[c+ ' Price Return'], df[c + ' Price Return'].loc[index])
        df[c + ' percentile'][index] = percentile_change

<ipython-input-22-64ee3ac6feb0>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[c + ' percentile'][index] = percentile_change

In [25]:
df['Shares To Buy'] = 0

In [26]:
df

,Unnamed: 0,Ticker,Price,1y Price Return,1y percentile,6m Price Return,6m percentile,3m Price Return,3m percentile,1m Price Return,1m percentile,Shares To Buy
0,0,AOS,56.900002,-0.315610,20.179949,0.030038,52.377892,0.158284,63.817481,-0.080181,22.814910,0
1,1,ATEN,17.020000,0.021706,69.665810,0.178193,78.663239,0.336118,89.331620,-0.066374,28.534704,0
2,2,AAC,10.070000,0.033881,71.015424,0.025458,50.578406,0.015121,26.478149,0.005994,75.289203,0
3,3,AIR,42.889999,0.108269,78.341902,0.036241,53.663239,0.226480,76.285347,-0.078625,23.200514,0
4,4,AAN,11.370000,-0.527754,7.262211,-0.284193,8.740360,0.083520,44.408740,-0.009112,64.974293,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1551,1551,ZBH,126.690002,0.029488,70.437018,0.168496,77.185090,0.209835,73.843188,0.064762,92.352185,0
1552,1552,ZION,48.450001,-0.209900,36.118252,-0.077690,24.935733,-0.087522,10.989717,-0.063768,30.205656,0
1553,1553,ZUO,5.800000,-0.706626,2.827763,-0.426311,3.727506,-0.185393,5.205656,-0.234828,1.928021,0
1554,1554,ZTS,145.759995,-0.404367,12.853470,-0.161916,16.516710,-0.017028,18.573265,-0.028914,51.799486,0
1555,1555,ZYME,8.040000,-0.491783,8.740360,0.276190,89.717224,0.525617,97.043702,0.025510,83.354756,0