In [1]:
import numpy as np
import pandas as pd
import math
import requests 
import matplotlib as plt
import seaborn as sns
import yfinance as yf
import pandas_datareader as web
from pandas_datareader import data
from bs4 import BeautifulSoup as bs
from scipy import stats

In [2]:
df = pd.read_csv("value_invest_advanced_sheet")

In [6]:
#Get percentiles for each stock and a specific category
cols = ['Trailing PE ratio', 'Forward PE ratio', 'Price To Book', 'Price To Sale', 'EV/EBITDA', 'EV/GP', 'Working Capital']
top90 = []
for c in cols: 
    df[c + ' percentile'] = np.NaN
    for index, row in df.iterrows(): 
        percentile_change = stats.percentileofscore(df[c], df[c].loc[index])
        df[c + ' percentile'][index] = percentile_change

<ipython-input-6-99f688de1272>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[c + ' percentile'][index] = percentile_change

In [7]:
df.head()

,Unnamed: 0,Ticker,Price,Trailing PE ratio,Forward PE ratio,Price To Book,Price To Sale,EV/EBITDA,EV/GP,Working Capital,Shares to buy,Trailing PE ratio percentile,Forward PE ratio percentile,Price To Book percentile,Price To Sale percentile,EV/EBITDA percentile,EV/GP percentile,Working Capital percentile
0,0,AOS,59.215000,18.332817,18.447040,5.176137,2.304731,12.441,6.793145,1.566500,NaN,52.923387,66.834677,79.334677,66.935484,57.762097,51.814516,54.032258
1,1,ATEN,15.760000,30.901962,18.761906,7.196347,4.234247,20.083,5.728374,2.446647,NaN,79.737903,68.145161,85.584677,82.157258,86.391129,44.052419,79.233871
2,2,AIR,44.900002,17.817461,12.683617,1.470251,0.838774,11.100,5.535717,2.892590,NaN,51.108871,42.439516,30.544355,34.173387,51.310484,42.237903,85.483871
3,3,AAN,12.715000,21.922415,7.613773,0.556139,0.185957,4.674,0.969086,2.714882,NaN,63.104839,17.741935,8.366935,7.762097,17.741935,4.536290,83.770161
4,4,ABB,31.795000,15.359904,20.781046,5.042023,2.033011,14.110,6.694239,1.200861,NaN,44.254032,73.991935,78.326613,61.995968,66.481855,51.411290,34.778226