In [1]:
import numpy as np
import pandas as pd
import math
import requests 
import matplotlib as plt
import seaborn as sns
import yfinance as yf
from pandas_datareader import data as pdr
from bs4 import BeautifulSoup as bs
from scipy import stats
import datetime
import time

data = pd.read_csv("Pour Samir")
data

,Unnamed: 0,Date,Open,High,Low,Close,Volume,Dividends,Stock_Splits,Ticker,Capital Gains
0,0,1983-09-30 00:00:00-04:00,0.00,0.467834,0.450507,0.450507,18000.0,0.0,0.0,AOS,NaN
1,1,1983-10-03 00:00:00-04:00,0.00,0.453395,0.447619,0.450507,18000.0,0.0,0.0,AOS,NaN
2,2,1983-10-04 00:00:00-04:00,0.00,0.447619,0.444731,0.444731,21600.0,0.0,0.0,AOS,NaN
3,3,1983-10-05 00:00:00-04:00,0.00,0.441844,0.392750,0.392750,127800.0,0.0,0.0,AOS,NaN
4,4,1983-10-06 00:00:00-04:00,0.00,0.401413,0.389862,0.401413,118800.0,0.0,0.0,AOS,NaN
...,...,...,...,...,...,...,...,...,...,...,...
49807,194,2018-04-24 00:00:00-04:00,12.25,12.600000,12.080000,12.130000,18881.0,0.0,0.0,GCH,0.0
49808,195,2018-04-25 00:00:00-04:00,12.26,12.585900,12.010000,12.010000,20687.0,0.0,0.0,GCH,0.0
49809,196,2018-04-26 00:00:00-04:00,11.79,12.640000,11.790000,12.360000,33310.0,0.0,0.0,GCH,0.0
49810,197,2018-04-27 00:00:00-04:00,12.36,12.370000,12.100000,12.370000,18401.0,0.0,0.0,GCH,0.0
49811,198,2018-04-30 00:00:00-04:00,12.37,12.370000,12.370000,12.370000,0.0,0.0,0.0,GCH,0.0

In [ ]:
pd.plot(data['Close'].head())