In [ ]:
import numpy as np
import pandas as pd
import math
import requests 
import matplotlib as plt
import seaborn as sns
import yfinance as yf
import pandas_datareader as web
from pandas_datareader import data
from bs4 import BeautifulSoup as bs
from scipy import stats

In [ ]:
tick = pd.read_csv("all_stocks")

In [ ]:
final = pd.DataFrame(columns=['Ticker','Price','Trailing PE ratio', 'Forward PE ratio','Shares to buy'])
for i in range(len(tick["0"])):
    print("Producing data for: ", tick["0"][i])
    try:
        ticker = yf.Ticker(tick["0"][i])
        d = yf.Ticker(tick["0"][i]).history(period = "1mo")
        info = ticker.info
        fpe = info["forwardPE"]
        tpe = info["trailingPE"]
    except TypeError: 
        print("Nonetype found for: " + tick["0"][i])
        continue
    except IndexError: 
        print("Couldn't find: ",tick["0"][i])
        continue
    except KeyError:
        print("Couldnt find key for: " + tick['0'][i])
        continue
    
    d.reset_index(inplace=True)   
    try: 
        d["Ticker"] = tick["0"][i]
        d["Price"] = d['Close']
        d['Trailing PE ratio'] = tpe
        d['Forward PE ratio'] = fpe
        d['Shares to buy'] = 0
        d = d.iloc[-1]

    except IndexError: 
        continue
    #Change to keep only last 2 days!!! get date
    
    #Append latest value
    final = final.append(
        pd.Series(d,
        index=['Ticker','Price','Trailing PE ratio', 'Forward PE ratio','Shares to buy']), 
        ignore_index = True
    )

Couldnt find key for: VNRX
Producing data for:  VISI
VISI: No data found, symbol may be delisted
- VISI: No summary info found, symbol may be delisted
Nonetype found for: VISI
Producing data for:  VG
VG: No data found, symbol may be delisted
- VG: No summary info found, symbol may be delisted
Nonetype found for: VG
Producing data for:  VNO
Couldnt find key for: VNO
Producing data for:  VJET
Couldnt find key for: VJET
Producing data for:  VOYA
Couldnt find key for: VOYA
Producing data for:  VTTI
VTTI: No data found for this date range, symbol may be delisted
Couldnt find key for: VTTI
Producing data for:  VMC

<ipython-input-3-9eff406483a5>:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(

Producing data for:  WTI

In [4]:
final

     Ticker       Price  Trailing PE ratio Forward PE ratio Shares to buy
0       AOS   57.669998          18.366241         17.96573             0
1      ATEN   16.910000          33.156864        20.130953             0
2       AAC   10.090000          45.863636        -9.990099             0
3       AIR   44.310001          17.174420        12.240333             0
4       AAN   11.350000          20.636364         6.755953             0
...     ...         ...                ...              ...           ...
1049    YUM  129.899994          34.741910        27.521187             0
1050   YUMC   56.770000          24.682610        24.157448             0
1051    ZIM   17.100000           0.610387         0.897167             0
1052   ZION   48.840000           9.928847        11.279446             0
1053    ZTS  145.300003          42.485380        29.294355             0

[1054 rows x 5 columns]

In [5]:
final.to_csv("value_invest_sheet")

"""
- Keep only positive values. 
- Remove glamour stocks (keep only top). 
"""